.display{
    text-decoration: none;
    font-size: 26px;
    color: black;
    
}
.details-heading{
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 45px;
}
.main-data{
    text-align: center;
}
body{
    background: url("images/bg1.jpg") no-repeat center center fixed;
    background-size: cover;
    -o-background-size: cover;  
    -webkit-background-size: cover;
    -moz-background-size:cover;
}
.display:hover{
    text-shadow: 2px 2px 8px #FF0000;
}